<h1>Profile</h1>
<h3><%="#{@user.email}" %></h3>
<h2>Wikis</h2>
<% if @user == current_user %>
  <%= link_to "New", new_wiki_path(@wiki), class: 'btn btn-success' %>
<% end %>

<% @user.wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
          <%if wiki.private? %>
          <%= "(Private)" %>
          <% end %>
        </h4>
        <h5 class="media-heading">
          Created by <%= wiki.user.email %>
        </h5>
      </div>
    </div>
<% end %>
<% if @collab_wikis.length > 0 %>
  <h2>Collaborations</h2>
  <% @collab_wikis.each do |wiki| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %>
            <%if wiki.private? %>
            <%= "(Private)" %>
            <% end %>
          </h4>
          <h5 class="media-heading">
            Created by <%= link_to "#{wiki.user.email}", user_path(wiki.user.id), class: 'username' %>
          </h5>
        </div>
      </div>
  <% end %>
<% end %>
