<h1>
  <%= @wiki.title %>
  <%if @wiki.private? %>
    <%= "(Private)" %>
  <% end %>
</h1>

<h5 class="media-heading">
Created by <%= link_to "#{@wiki.user.email}", user_path(@wiki.user.id), class: 'username' %>
</h5>

<%if @wiki.private? %>
  <h5>
    Collaborators:
    <% @wiki.users.each do |user|%>
      <i> <%= link_to "#{user.email}", user_path(user.id), class: 'username' %> </i>
    <% end %>
  </h5>
<% end %>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown(@wiki.body) %></p>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
  <% if user_is_authorized_for_wiki?(@wiki) %>
    <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
  <% end %>
  </div>
</div>
